<ion-view view-title="Results">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a party in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate a pizza today! 
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> parties on your calendar tomorrow.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You Have to Gooo Hard today
        </div>
      </div>
    </div>
      <div class="list card">
          <div class="item item-divider">Upcoming</div>
          <div class="item item-body">
              <div>
                  The DJ invited you. so you have to go
              </div>
          </div>
      </div>
      <div class="list card">
          <div class="item item-divider">Upcoming</div>
          <div class="item item-body">
              <div>
                  Time to rave!
              </div>
          </div>
      </div>
  </ion-content>
</ion-view>
